.container {
  text-align: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  margin: 0 auto;
  margin-top: 20px;
}

.circle button {
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.component {
  margin-bottom: 20px;
}

.increment-button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #9a8383cf;
  color:black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
